.main {
  flex: 1;
  padding: 10px 10px;
}

.wrapper {
  display: flex;
  gap: 10px;
  min-height: 100px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 40%;
}

.right-column {
  position: relative;
  width: 60%;
}
